<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.froger.xinger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!--singleTask => flag of launchMode -->
    <application
        android:name="io.github.froger.xinger.InstaMaterialApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="io.github.froger.xinger.ui.activity.UserAuthenticationActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.LoginRegister"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="learn2crack"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.froger.xinger.ui.activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name="io.github.froger.xinger.ui.activity.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name="io.github.froger.xinger.ui.activity.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="io.github.froger.xinger.ui.activity.TakePhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentActivity" />
        <activity
            android:name="io.github.froger.xinger.ui.activity.PublishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name="io.github.froger.xinger.ui.activity.Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>
